h5{
    font-family: Arial - Sans Serif;
    font-size: 20px;
    color: black;
}

p.speech{
    font-family: 'Times New Roman';
    font-size: 15px;
    color:darkblue;
}

p.direction{
    
    font-family: 'Times New Roman';
    font-size: 18px;
    color: black;
    background-color: thistle;
}

p.direction:hover {
    background-color:beige;
    color:blueviolet;
}

h5.PATIENCE{
    font-family: sans-serif;
    color:crimson;
}

h5.PATIENCE{
    font-family: Helvetica, sans-serif;
    color:darkblue;
}

h5.GROSS{
    font-family: Helvetica, sans-serif;
    color:black;
}

h5.table_heading{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}

table.table_singers{
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    padding: 20px;
    margin: 40px;
}

table.table_singers tr:nth-child(odd){
    background-color:lightsteelblue;
}

table.table_singers td, table.table_singers th {
    border: 1px solid darkgrey;
    padding: 10px;
    text-align: left;
    color:darkblue
}

table.table_singers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:darkred;
    color: white;
}
